.AS .as-title {
    font-weight: 500;
}

.AS .as-how-improve {
    display: none;
    margin-bottom: 10px;
}

.AS.rated:not(.submitted) .as-how-improve {
    display: block
}

.AS:not(.rated) form,
.AS.rated .as-button,
.AS.submitted form,
.AS.submitted .as-button-group,
.AS.rated .as-button-group {
    display: none;
}